* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 5px;
  /* padding: 10px 5px; */
}
.container {
  margin-top: 20px;
  width: 40vw;
  height: 30vh;
  box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.3);
}

.btn {
  height: 30px;
  margin-top: 20px;
}

.flexed-items {
  margin-top: 30px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
button {
  width: 130px;
  height: 60px;
}

.table {
  width: 100vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
/* display: flex; */

.result-table {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.table-container {
  width: 100vw;
  justify-content: center;
}
